.forgetPassword-container {
    height: 50vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.forgetPassword-box {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 20px 6px #090b6f85;
    padding: 25px 14px;
    border-radius: 4px;
}

.forgetPassword-input {
    width: 100%;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #c9d1c9;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.forgetPassword-submitButton {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    margin-top: 14px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px #5cd53ba6;
    background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}
